:root {
    /* color */
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );

    --white: #FFFFFF;

    /* --bg-color: 2,74,57; */
    /* --bg-color-accent: 0,41,22; */
    --bg-color: 0,41,22;
    --bg-color-accent: 0,23,12;
    --bg-color-gradient: radial-gradient(
        at right top,
        rgb(var(--bg-color-accent)) 20%,
        rgb(var(--bg-color)) 70%);

    --primary-text: #FFFFFF;

    --soft-highlight: rgba(6, 235, 129,0.1);

    /* --interactive-color: rgba(32, 89, 79, 0.6);
    --interactive-color-hover: rgba(32, 89, 79, 0.8);
    --interactive-color-active: rgba(32, 89, 79, 1); */

    --interactive-color: rgba(2,74,57, 0.6);
    --interactive-color-hover: rgba(2,74,57, 0.8);
    --interactive-color-active: rgba(2,74,57, 1);

    @media screen and (prefers-color-scheme: light) {
        --bg-color: 255,255,255;
        --bg-color-accent: 235,244,231;
        --bg-color-gradient: radial-gradient(
            at right top,
            rgb(var(--bg-color-accent)) 20%,
            rgb(var(--bg-color)) 70%);

        --primary-text: #012111;

        --soft-highlight: rgba(255,255,255,0.8);

        --interactive-color: rgba(118, 207, 191, 0.1);
        --interactive-color-hover: rgba(118, 207, 191, 0.2);
        --interactive-color-active: rgba(118, 207, 191, 0.3);
    }
    


    /* spacing */
    --x-small-spacing-px: 8px;
    --compact-spacing-px: 12px;
    --small-spacing-px: 16px;
    --standard-spacing-px: 24px;
    --large-spacing-px: 48px;
    --x-large-spacing-px: 64px;

    --x-small-spacing-rem: 0.5rem;
    --compact-small-spacing-rem: 0.75rem;
    --small-spacing-rem: 1rem;
    --standard-spacing-rem: 1.5rem;
    --large-spacing-rem: 3rem;
    --x-large-spacing-rem: 4rem;
}

/* typography */
.title-text {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
}

.title-2-text {
    font-size: 1.5rem;
    font-weight: 500;
}

.title-card-text {
    font-size: 2.25rem;
    font-weight: 500;
}

.body-text {
    font-size: 1rem;
    font-weight: 400;
}

.sub-body-text {
    font-size: 0.875rem;
    font-weight: 700;
}

.caption-text {
    font-size: 0.75rem;
    font-weight: 500;
}

.mono-medium {
    font-family: "Roboto Mono", monospace;
    font-size: 0.875rem;
    font-weight: 500;
}

.mono-bold {
    font-family: "Roboto Mono", monospace;
    font-size: 0.875rem;
    font-weight: 700;
    opacity: 0.8;
}

.responsive-text-large {
    font-size: 6.5vw;
    font-weight: 400;
}

@media (max-width: 1040px) {

    .title-text {
        font-size: 3.5rem;
        font-weight: 800;
        line-height: 1.2;
    }
    
    .title-2-text {
        font-size: 1.25rem;
        font-weight: 500;
    }
    
    .title-card-text {
        font-size: 2rem;
        font-weight: 500;
    }
/*     
    .body-text {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .sub-body-text {
        font-size: 0.875rem;
        font-weight: 700;
    }
    
    .caption-text {
        font-size: 0.75rem;
        font-weight: 500;
    }
    
    .mono-medium {
        font-family: "Roboto Mono", monospace;
        font-size: 0.875rem;
        font-weight: 500;
    }
    
    .mono-bold {
        font-family: "Roboto Mono", monospace;
        font-size: 0.875rem;
        font-weight: 700;
        opacity: 0.8;
    } */

}