:root {
    /* color */
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );

    --white: #FFFFFF;

    --bg-dark: 2,74,57;
    --bg-dark-accent: 0,41,22;
    --bg-dark-gradient: radial-gradient(
        at right top,
        rgb(var(--bg-dark-accent)) 23%,
        rgb(var(--bg-dark)) 100%);

    --bg-light: 255,255,255;
    --bg-light-accent: 235,244,231;
    --bg-light-gradient: radial-gradient(
        at right top,
        rgb(var(--bg-light-accent)) 23%,
        rgb(var(--bg-light)) 100%);

    --dark-interactive: rgba(32, 89, 79, 0.6);
    --light-interactive: rgba(118, 207, 191, 0.1);

    --light-text: #012A16;


    /* spacing */
    --x-small-spacing-px: 8px;
    --compact-spacing-px: 12px;
    --small-spacing-px: 16px;
    --standard-spacing-px: 24px;
    --large-spacing-px: 48px;
    --x-large-spacing-px: 64px;

    --x-small-spacing-rem: 0.5rem;
    --compact-small-spacing-rem: 0.75rem;
    --small-spacing-rem: 1rem;
    --standard-spacing-rem: 1.5rem;
    --large-spacing-rem: 3rem;
    --x-large-spacing-rem: 4rem;
}

/* typography */
.title-text {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
}

.title-2-text {
    font-size: 1.5rem;
    font-weight: 500;
}

.title-card-text {
    font-size: 2.25rem;
    font-weight: 500;
}

.body-text {
    font-size: 1rem;
    font-weight: 400;
}

.sub-body-text {
    font-size: 0.875rem;
    font-weight: 700;
}

.caption-text {
    font-size: 0.75rem;
    font-weight: 500;
}

.mono-medium {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-weight: 500;
}

.mono-bold {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-weight: 700;
}