.link-card {
    display: flex;
}
.link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: var(--standard-spacing-rem);
    border-radius: 8px;
    color: white;
    background-color: var(--dark-interactive);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    opacity: 0.8;
}

@media screen and (prefers-color-scheme: light) {
    .link-card > a {
        background-color: var(--light-interactive);
    }
}

h2 {
    margin: 0;
    margin-bottom: var(--standard-spacing-rem);
}
p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.tag-list {
    padding: 0;
}
.tag-list li {
    display: inline-block;
    margin-right: 0.6em;
}
.tag-list li:after {
    content: ' | '
}
.tag-list li:last-child::after {
    content: ''
}

.company-images {
    display: grid;
    gap: var(--standard-spacing-px);
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin-bottom: var(--standard-spacing-rem);;
}

.company-images li {
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: var(--compact-spacing-px);
}

.company-images img {
    max-height: 100%;
    max-width: 100%;
}