---
import Layout from '../layouts/Layout.astro';
import { SITE_MOTTO } from '../consts';
import CardSort from '../components/CardSort/CardSort';

---

<Layout title={SITE_MOTTO}>
	<main class="main-wrapper">
		<h1 class="title-text">{SITE_MOTTO}</h1>
		<h3 class="title-2-text">
			Making the web a better place to be with design systems, 
			accessibility, and human centered design. Let’s work 
			together!
		</h3>
		<CardSort client:load />
	</main>
</Layout>

<style>
	main {
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		margin-bottom: 0.25em;
	}
	h3 {
		margin-bottom: 2rem;
		max-width: 760px;
		width: 100%;
	}
</style>
