li {
    list-style: none;
}

.tags {
    display: flex;
    gap: var(--small-spacing-px);
    margin-bottom: var(--large-spacing-rem);
    overflow-x: scroll;
    padding: 0;
}

.tags li button {
    color: var(--primary-text);
    cursor: pointer;
    background-color: var(--interactive-color);
    border: 2px solid transparent;
    border-radius: var(--standard-spacing-px);
    padding: 0.125rem var(--standard-spacing-px);
    white-space: nowrap;
}

.tags li button:hover {
    background-color: var(--interactive-color-hover);
}

.tags li button:active {
    background-color: var(--interactive-color-active);
}

.tags li button.active {
    border-color: var(--primary-text);
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--standard-spacing-px);
    padding: 0;
}

@media (min-width: 640px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
